@model AnimalPlanet.Models.Pagination.GenericPaginatedModel<AnimalPlanet.Models.Models.ClassModel>

@{
    ViewData["Title"] = "Class";
}

<h1>Class</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Denomination
            </th>
            <th>
                Phylum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Models)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Denomination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhylumDenomination)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{ await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination); }
